body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.choose-game {
    display: grid;
    grid-template-columns: repeat(3, auto);

}

#tic-tac-toe, #snake, #dino {
    border: 1px solid #6a6a6a;
    padding: 1rem;
    margin: 0.5rem;
}

#tic-tac-toe:hover, #snake:hover, #dino:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}