body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    cursor: none;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }

button {
    padding: 5px 10px;
    margin: 10px 5px;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

@keyframes colorsForHighlight {
    0% { background-color: white; }
    50% { background-color: rgb(210, 252, 200); }
    100% { background-color: white; }
}
  
.highlight {
animation: colorsForHighlight 3s infinite;
}
